{% extends 'base.html' %}

{% block content %}
<h2 class="form-ex">Update Profile</h2>
<div id="profile" class="container-1 justify-content-center">
    <img src="{{user.profile_pic.url}}" width="250" height="250" class="rounded-circle img">
    <form action="" method="post" enctype="multipart/form-data">
        <div class="form-container">
            {%csrf_token%}
            {% for field in form %}
            <div class="row">
                <div class="col-sm-12">
                    <span>{{ field.label }}{{field}}</span>
                </div>
            </div>
            {% endfor %}
        </div>
        <button type="submit" value="submit" class="btn-primary btn col-sm-12">Submit</button>
    </form>
    <span style="color: rgb(206, 45, 45);">
        {% for field in form %}
        {% for error in field.errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
    </span>
</div>
{% endblock content %}