{% extends 'base.html' %}

{% block content %}
<div id="form" class="container-1">
    <h2 class="form-ex">Login</h2>
    <form action="" method="post">
        <div class="form-container">
            {%csrf_token%}
            {% for field in form %}
            <div class="row">
                <div class="col-sm-12">
                    {{field}}
                </div>
            </div>
            {% endfor %}
            <a href="#" class="form-footer">Forgot Password?</a>
        </div>
        <button type="submit" value="submit" class="btn-primary btn col-sm-12">Submit</button>
    </form>
    <p class="form-ex">Not registered? <a href="{% url 'signup' %}">Create an account</a></p>
    <span style="color: rgb(206, 45, 45);">
        {% for field in form %}
        {% for error in field.errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
    </span>
</div>
{% endblock content %}